/* Unit: Unit1-04-HTML-CSS
* File name: style.css
* Made by: Julien Lamoureux
* Date : Feburary 17, 2023
*/

body {
  background-color: rgb(205 255 163);
}
h1 {
  background-color: rgb(80 244 78);
  padding: 40px;
  text-align: center;
}
p {
  background-color: rgb(49 251 45); 
  text-align: center;
}