/* Unit: Unit1-04-HTML-CSS
* File name: style2.css
* Made by: Julien Lamoureux
* Date : February 17-19, 2023
*/

body {
  background-color: rgb(205 255 163);
}

h1 {
  background-color: rgb(80 244 78);
  padding: 40px;
  color: rgb(15 15 15);
  text-align: center;
}

h2 {
  background-color: rgb(80 244 78);
  padding: 40px;
  color: rgb(15 15 15);
  text-align: center;
}

th {
  color: white;
  background-color: black;
}

li {
  color: #0a0a0a;
}

p {
  background-color: rgb(49 251 45);
}
